{% extends "layout.html" %}
{% block content %}

<img src="static/images/info.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Abstract</h1>
        </header>
        
        <div class="w3-container">
          <p>
            add ur text
        </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Motivation</h1>
            </header>
            
            <div class="w3-container">
              <p>
                  add ur text            
              </p>

            </div>
            <footer class="w3-container w3-blue">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue">
                      <h1>Literature Surevy</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
                          add ur text                    
                        </p>
            </div>
                    
                    <footer class="w3-container w3-blue">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Conclusion</h1>
            </header>
            
            <div class="w3-container">
              <p>
                  add ur text            
                </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}